@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=League+Spartan:wght@700&display=swap');

.theme1 {
    /*Backgrunds*/
    --colorBackground: hsl(222, 26%, 31%);
    --toogleKeypadBackground: hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);

    /*keys*/
    --keyBackgroundBorder: hsl(225, 21%, 49%);
    --keyShadow: hsl(224, 28%, 35%);
    --toggleBackground: hsl(6, 63%, 50%);
    --keyShadowDarkRed: hsl(6, 70%, 34%);
    --keyBackground: hsl(30, 25%, 89%);
    --keyShadowGrayishOrange: hsl(28, 16%, 65%);

    /*Text*/
    --keyColorText: hsl(221, 14%, 31%);
    --headerColorText: hsl(0, 0%, 100%);
    --white: hsl(0, 0%, 100%);
}

.theme2 {
    /*Backgrunds*/
    --colorBackground: hsl(0, 0%, 90%);
    --toogleKeypadBackground: hsl(0, 5%, 81%);
    --screenBackground: hsl(0, 0%, 93%);

    /*keys*/
    --keyBackgroundBorder: hsl(185, 42%, 37%);
    --keyShadow: hsl(185, 58%, 25%);
    --toggleBackground: hsl(25, 98%, 40%);
    --keyShadowDarkRed: hsl(25, 99%, 27%);
    --keyBackground: hsl(45, 7%, 89%);
    --keyShadowGrayishOrange: hsl(35, 11%, 61%);

    /*Text*/
    --keyColorText: hsl(60, 10%, 19%);
    --headerColorText: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);

}

.theme3 {
    /*Backgrunds*/
    --colorBackground: hsl(268, 75%, 9%);
    --toogleKeypadBackground: hsl(268, 71%, 12%);
    --screenBackground: hsl(268, 71%, 12%);

    /*keys*/
    --keyBackgroundBorder: hsl(281, 89%, 26%);
    --keyShadow: hsl(285, 91%, 52%);
    --toggleBackground: hsl(176, 100%, 44%);
    --keyShadowDarkRed: hsl(177, 92%, 70%);
    --keyBackground: hsl(268, 47%, 21%);
    --keyShadowGrayishOrange: hsl(290, 70%, 36%);

    /*Text*/
    --headerColorText: hsl(52, 100%, 62%);
    --keyColorText: hsl(52, 100%, 62%);
    --veryDarkBlue: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);

}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'League Spartan',
        sans-serif;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-weight: 700;
    display: grid;
    place-content: center;
    align-items: center;
}

body {
    background-color: var(--colorBackground);
}

#root {
    padding: 20px;
}



/* Header */

.__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
    color: var(--headerColorText);
    margin-bottom: 20px;
}

.title h1 {
    font-size: 32px;
}

.__header .content__togle {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    align-items: flex-end
}


.container__toggle_switch {
    justify-items: center;
    display: grid;
    place-items: center;
    width: 80px;
}

.numberToggle {
    align-items: center;
    display: flex;
    height: fit-content;
    gap: 0 17px;
    padding: 0 15px;
    margin-bottom: 8px;
}

.numberToggle p {
    margin: 0;
}

.title__theme {
    object-fit: contain;
    height: fit-content;
}

.title__theme p {
    margin: 0;
}

.__header .__toggle {
    width: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    object-fit: contain;
    height: fit-content;
    padding: 5px 0;
    gap: 0 8px;
    background-color: var(--toogleKeypadBackground);
}

.__header .__toggle input {
    appearance: none;
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--toggleBackground);
    opacity: 0;
}

.__header .__toggle input:hover {
    cursor: pointer;
}


/*Screen*/


.__screen {
    max-height: 120px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 42px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--screenBackground);
    color: var(--headerColorText);

}

.input__screen {
    width: 100%;
}

.input__screen input {
    width: 100%;
    display: flex;
    justify-content: end;
    object-fit: contain;
    border: none;
    font-size: 34px;
    background-color: var(--screenBackground);
    color: var(--headerColorText);
    text-align: right;
}

.input__screen input:focus {
    border: 0;
    outline: none;
}

.input__screen input:checked {
    border: 0;
    outline: none;
}

.__screen>* {
    margin: 0;
}




/* Key board*/

.keys_board {
    margin-top: 20px;
    background-color: var(--toogleKeypadBackground);
    padding: 25px 30px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 70px);
    border-radius: 10px;
    gap: 15px;
}

.keys_board>button {
    font-size: 32px;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--keyBackground);
    color: var(--keyColorText);
    outline: none;
    border: none;
    border-bottom: 5px solid var(--keyShadowGrayishOrange);
    align-items: center;
    justify-content: center;
}

.keys_board>button:active {
    transform: translateY(7px);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

}

.keys_board button:nth-child(17) {
    grid-column: 1/3;
    grid-row: 5;
    font-size: 22px;
    background-color: var(--keyBackgroundBorder);
    color: var(--white);
    border-bottom: 5px solid var(--keyShadow);
    outline: none;
}

.keys_board button:nth-child(18) {
    grid-column: 3/5;
    background-color: var(--toggleBackground);
    color: var(--keyBackground);
    border-bottom: 5px solid var(--keyShadowDarkRed);
    grid-row: 5;
    font-size: 22px;
}

.keys_board button:nth-child(4) {
    font-size: 22px;
    background-color: var(--keyBackgroundBorder);
    color: var(--white);
    border-bottom: 5px solid var(--keyShadow);
}


/*Screen*/

@media screen and (min-width: 300px) {
    #root {
        max-width: 100vw;
    }

    .__screen {
        max-height: 900px;
        padding: 32px 16px;

    }
}


@media screen and (min-width: 1200px) {
    #root {
        margin: auto 0;
        width: 32vw;
        justify-content: center;
    }

    .__screen {
        padding: 39px 16px;
    }

}


/*Atribution*/
.attribution {
    text-align: center;
    color: var(--headerColorText);
}

.attribution a {
    text-decoration: none;
    color: var(--headerColorText);
}

.autor:hover{
    color: var(--toggleBackground);
}